<h2>Enroll Student</h2>
<form method="POST">
    {% csrf_token %}
    {% for field in enroll_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            <br>

            {% if field.help_text %}
                <small style="color:black;">{{field.help_text}}</small>
            {% endif%}

            {% if error in fields.errors %}
                <p style="color: red;">{{error}}</p>

            {% endif %}
        </p>


    {% endfor %}
    <button type="submit">Enroll</button>


</form>