{% extends 'base.html' %} {% block pageContent %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-default rounded-0 shadow ">
        <div class="card-header">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <h4 class="card-title fw-bold">Courses</h4>
                <div class="tools">
                    <button type="button" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new'><a href="{% url 'add-lecturing-course' lecturer.id %}" style="color: white;"><i class="fa fa-plus"></i><span>Add Course</span></a></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <!-- <form method="GET">
                    
                    {{course_filter.form}}
                    <button class="btn btn-primary"     type="submit">Search Course</button>
                </form> -->
                <table class="table table-bordered" id="course-list">
                    <colgroup>
                        <col width="5%">
                        <col width="20%">
                        <col width="20%">
                        <col width="30%">
                        <col width="10%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                            <th class="px-2 py-2 text-center">#</th>
                            <th class="px-2 py-2 text-center">Course</th>
                            <th class="px-2 py-2 text-center">Name</th>
                            <th class="px-2 py-2 text-center">Department</th>
                            <th class="px-2 py-2 text-center">Status</th>
                            <th class="px-2 py-2 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in lecturer_courses %}
                        <tr>
                            <td class="px-2 py-1 align-middle">{{ forloop.counter }}</td>
                            <td class="px-2 py-1 align-middle">{{ course.course.course_id }}</td>
                            <td class="px-2 py-1 align-middle">{{ course.course.name }}</td>
                            <td class="px-2 py-1 align-middle">{{ course.course.department }}</td>
                            <td class="px-2 py-1 align-middle text-center">
                                {% if course.course.status == 1 %}
                                <span class="badge bg-primary rounded-pill px-3">Active</span> {% else %}
                                <span class="badge bg-secondary rounded-pill px-3">Inactive</span> {% endif %}
                            </td>
                            <td class="px-2 py-1 align-middle text-center">
                                <a class="btn btn-outline-info btn-sm view-data" href="javascript:void(0)" data-url="" title="View Details">
                                    <i class="fa fa-eye"></i>
                                </a>

                                <button class="btn btn-outline-danger btn-sm delete-data" type="button" data-id="{{ course.pk }}" title="Delete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock pageContent %} 
