{% extends 'base.html' %}{% load static %}{% block pageContent %}


<div class="d-flex flex-column w-100 justify-content-center align-items-center">
    <div class="mb-4">
        <center>
            <img src="{{ MEDIA_URL }}/default/cas-logo-2.png" alt="">
        </center>
    </div>
    
    
    
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="form-box">
            <div class="button-box">
                <div id="bttn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Regis</button>
            </div>
            <form id="login-user" class="input-group">
                {% csrf_token %}
                <input type="text" class="input-field rounded-0" placeholder="Username" name="username" required>
                <input type="password" class="input-field rounded-0" placeholder="Password" name="password" required>
                <input type="checkbox" class="check-box"><span>Remember Password</span>
                <button type="submit" class="submit-btn btn btn-sm rounded-0 btn-primary">Login</button>
            </form>
            <form id="register" class="input-group">
                {% csrf_token %}
                <input type="text" class="input-field rounded-0" placeholder="Username" name="username" required>
                <input type="email" class="input-field rounded-0" placeholder="Email" name="email" required>
                <input type="password" class="input-field rounded-0" placeholder="Password" name="password1" required>
                <input type="password" class="input-field rounded-0" placeholder="Confirm Password" name="password2" required>
                <input type="checkbox" class="check-box"><span>I Agree to the terms & conditions</span>
                <button type="submit" class="submit-btn btn btn-sm rounded-0 btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#login-user').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'login-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.href = "{% url 'home-page' %}"
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>
<script src="{% static 'assets/default/js/script.js' %}"></script>
{% endblock ScriptBlock %}