<div class="container-fluid">
    <form action=" " id="faculty-form">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ lecturer.id }}">
        <input type="hidden" name="user_type" value="2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="first_name" class="control-label">First Name</label>
                    <input type="text" class="form-control rounded-0" name="first_name" id="first_name" value="{{ lecturer.user.first_name }}" required="required">
                </div>
                <div class="form-group mb-3">
                    <label for="last_name" class="control-label">Last Name</label>
                    <input type="text" class="form-control rounded-0" name="last_name" id="last_name" value="{{ lecturer.user.last_name }}" required="required">
                </div>
                <div class="form-group mb-3">
                    <label for="gender" class="control-label">Gender</label>
                    <select name="gender" id="gender" class="form-select rounded-0" required>
                        {% if lecturer.gender == 'Male' %}
                        <option selected>Male</option>
                        {% else %}
                        <option>Male</option>
                        {% endif %}
                        
                        {% if lecturer.gender == 'Female' %}
                        <option selected>Female</option>
                        {% else %}
                        <option>Female</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="dob" class="control-label">Birthdate</label>
                    <input type="date" class="form-control rounded-0" name="dob" id="dob" value="{{ faculty.dob|date:'Y-m-d' }}" required="required">
                </div>
                <div class="form-group mb-3">
                    <label for="contact" class="control-label">Contact</label>
                    <input type="text" class="form-control rounded-0" name="contact" id="contact" value="{{ faculty.contact }}" required="required">
                </div>
                <div class="form-group mb-3">
                    <label for="address" class="control-label">Address</label>
                    <textarea rows="3" class="form-control rounded-0" name="address" id="address" required="required">{{ faculty.address }}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="department" class="control-label">Department</label>
                    <select name="department" id="department" class="form-select rounded-0 select2" required>
                        {% if not faculty.department %}
                        <option disabled selected></option>
                        {% else %}
                        <option disabled></option>
                        {% endif %}
                        
                        {% for department in departments %}
                        {% if department == faculty.department %}
                        <option value="{{ department.id }}" selected>{{ department }}</option>
                        {% else %}
                        <option value="{{ department.id }}">{{ department }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control rounded-0" name="email" id="email" value="{{ faculty.user.email }}" required="required">
                </div>
                <div class="form-group mb-3">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" class="form-control rounded-0" name="username" id="username" value="{{ faculty.user.username }}" required="required">
                </div>
                {% if not faculty %}
                <div class="form-group mb-3">
                    <label for="password1" class="control-label">{% if faculty.id %}New {% endif %}Password</label>
                    <input type="password" class="form-control rounded-0" name="password1" id="password1" {% if not faculty.id %}required="required" {% endif %}>
                </div>
                <div class="form-group mb-3">
                    <label for="password2" class="control-label">Confirm {% if faculty.id %}New {% endif %}Password</label>
                    <input type="password" class="form-control rounded-0" name="password2" id="password2" {% if not faculty.id %}required="required" {% endif %}>
                </div>
                {% endif %}
                <div class="form-group mb-3">
                    <label for="avatar" class="control-label">User Avatar</label>
                    <input type="file" class="form-control rounded-0" name="avatar" id="avatar" onchange="DisplayImage(this)" accept="images/*" {% if not faculty.id %}required="required" {% endif %}>
                </div>
                <div class="form-group mb-3 text-center">
                    <img src="{% if faculty.avatar %}{{ faculty.avatar.url }}{% else %}{{ MEDIA_URL }}default/default-icon.png{% endif %}" class="img-fluid img-thumbnail bg-gradient bg-dark w-100" id="user-avatar-modal" alt="">
                </div>
            </div>
        </div>
    </form>
</div>
<script>

</script>