{% extends 'base.html' %}

{% block pageContent %}
<!-- <style> -->
<!-- /* body{
    background: black;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

</style> */ -->


    
<div class="card">
    <div class="card-header">
        <h4 class="card-title fw-bold">Register Student</h4>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% for field in register_student_form %}
            <p>
                {{field.label_tag}}
                {{field}}
                <br>
    
                {% if field.help_text %}
                    <small style="color:black;">{{field.help_text}}</small>
                {% endif%}
    
                {% if error in fields.errors %}
                    <p style="color: red;">{{error}}</p>
    
                {% endif %}
            </p>
    
    
        {% endfor %}
        <!-- {% for field in student_profile_form %}
            <p>
                {{field.label_tag}}
                {{field}}
                <br>
    
                {% if field.help_text %}
                    <small style="color:black;">{{field.help_text}}</small>
                {% endif%}
    
                {% if error in fields.errors %}
                    <p style="color: red;">{{error}}</p>
    
                {% endif %}
            </p>
    
    
        {% endfor %}
        -->
        <button type="submit" class="btn btn-primary rounded-0 bg-gradient btn-sm" id='add_new' style="color: white; margin-left:50%;"><span>Next</span></a></button>    
    
    </form>
</div>
{% endblock %}