{% extends 'base.html' %}

{% block pageContent %}

    
<div class="card">
    <div class="card-header">
        <h4 class="card-title fw-bold">Register Instructor</h4>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% for field in reg_form %}
            <p>
                {{field.label_tag}}
                {{field}}
                <br>
    
                {% if field.help_text %}
                    <small style="color:black;">{{field.help_text}}</small>
                {% endif%}
    
                {% if error in fields.errors %}
                    <p style="color: red;">{{error}}</p>
    
                {% endif %}
            </p>
    
    
        {% endfor %}
        <button type="submit">Register</button>
    
    
    </form>
</div>
{% endblock %}

